.logo{
    width: 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.HaiBen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}