.a3{
    background-color: #faf2e4;
    font-family: sans-serif;
}
.a1{
    text-emphasis: none;
    font-family: serif;
}
.a4{
    background-color: #faf2e4;
    padding: 0 5%;
    font-family: sans-serif;
}
.a5{
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    padding-top: 30px;
}
.a6{
    color: #d1633c;
    font-size: 1em;
}
